{% extends 'base.html' %}

{% block title %} About_Me {% endblock %}

{% block content %}

    <!---------- the home tab here ---------->
    <div class="tab-pane fade show active text-justify" id="home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="card cardHome p-2 float-right">
            <div class="row no-gutters">
              <div class="col-sm-4">
                <img src="./static/imgs/P_image.png" class="card-img-top d-block w-100 mx-auto" alt="christine's profile picture">
              </div>
              <div class="col-sm-8">
                <div class="card-body">
                  <h5 class="card-title text-center font-weight-bold p-2 text-uppercase">christine</h5>
                  <p class="card-text text-sm-center font-weight-light text-white">If you have an idea of  what u want to produce Christine can be the vibrant voice to bring your vision to life, with that "let's get it right approach".

                    <br><br>
                    A professional Voiceover Artist with diverse experience - Christine has done voice-over work in the form of Radio Adverts / Coperate Clients /In-house  Radio / Stand-by & Resident voice for Private Companies voicing requirements / Educational Characters (e-Learning) to mention a few.
                    
                    
                     Along with her experience of translating scripts from the English to IsiZulu language she has also been involved in numerous projects that require the dubbing process ; Christine is extremely passionate about all work taken, ensuring clients and customers a professional and time efficient delivery of the services she renders.
                    <br><br><br>
                    Put her to the test,she will deliver. 
                    
                    Contact her now for your audio pleasure and professional service.</p>
                  <!--
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  -->
                </div>
              </div>
            </div>
          </div>
    </div>

{% endblock %}