{% extends 'base.html' %}

{% block title %} listen {% endblock %}

{% block content %}

    <!---------- the profile tab here ------->
                    <div class="tab-pane fade" id="listen" role="tabpanel" aria-labelledby="v-pills-listen-tab">
                        
                        <div class="listen">
                            <div class="text-center">
                                <h5 class="font-weight-bold text-uppercase">
                                    lesten to some of my visual files
                                </h5>
                            </div>
                            <div class="row text-center">
                                <div class="col-sm-4">
                                    <div class="card player text-white svg-1 rounded-pill m-1 text-uppercase">
                                        <h5 class="card-title fw-bold fs-3 pt-3 text-wrap">character play</h5>
                                            <div class="imgBx">
                                                <i class="fas fa-microphone fs-4"></i>
                                            </div>
                                            <audio class="rounded-pill" controls controlsList="nodownload">
                                                <source src="./static/audio/Audio_1.mp3" type="audio/mp3">
                                            </audio>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card player text-white svg-1 rounded-pill m-1 text-uppercase">
                                            <h5 class="card-title fw-bold fs-3 pt-3 text-wrap">character play</h5>
                                            <div class="imgBx">
                                                <i class="fas fa-microphone fs-4"></i>
                                            </div>
                                            <audio class="rounded-pill" controls controlsList="nodownload">
                                                <source src="./static/audio/Audio_2.mp3" type="audio/mp3">
                                            </audio>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card player text-white svg-1 rounded-pill m-1 text-uppercase">
                                        <h5 class="card-title fw-bold fs-3 pt-3 text-wrap">character play</h5>
                                        <div class="imgBx">
                                            <i class="fas fa-microphone fs-4"></i>
                                        </div>
                                        <audio class="rounded-pill" controls controlsList="nodownload">
                                            <source src="./static/audio/Audio_3.mp3" type="audio/mp3">
                                        </audio>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center pt-4">
                                <div class="col-sm-4">
                                    <div class="card player text-white svg-1 rounded-pill m-1 text-uppercase">
                                        <h5 class="card-title fw-bold fs-3 pt-3 text-wrap">character play</h5>
                                        <div class="imgBx">
                                            <i class="fas fa-microphone fs-4"></i>
                                        </div>
                                        <audio class="rounded-pill" controls controlsList="nodownload">
                                            <source src="./static/audio/Audio_4.mp3" type="audio/mp3">
                                        </audio>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card player text-white svg-1 rounded-pill m-1 text-uppercase">
                                        <h5 class="card-title fw-bold fs-3 pt-3 text-wrap">conversational</h5>
                                        <div class="imgBx">
                                            <i class="fas fa-microphone fs-4"></i>
                                        </div>
                                        <audio class="rounded-pill" controls controlsList="nodownload">
                                            <source src="./static/audio/Audio_5.mp3" type="audio/mp3">
                                        </audio>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card player text-white svg-1 rounded-pill m-1 text-uppercase">
                                        <h5 class="card-title fw-bold fs-3 pt-3 text-wrap">isizulu softsell</h5>
                                        <div class="imgBx">
                                            <i class="fas fa-microphone fs-4"></i>
                                        </div>
                                        <audio class="rounded-pill" controls controlsList="nodownload">
                                            <source src="./static/audio/Audio_6.mp3" type="audio/mp3">
                                        </audio>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center pt-4">
                                <div class="col-sm-4">
                                    <div class="card player text-white svg-1 rounded-pill m-1 text-uppercase">
                                        <h5 class="card-title fw-bold fs-3 pt-3 text-wrap">Hardsell</h5>
                                        <div class="imgBx">
                                            <i class="fas fa-microphone fs-4"></i>
                                        </div>
                                        <audio class="rounded-pill" controls controlsList="nodownload">
                                            <source src="./static/audio/Audio_7.mp3" type="audio/mp3">
                                        </audio>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!--
                                        <div class="card player text-white svg-1 rounded-pill m-1 text-uppercase">
                                        <h5 class="card-title fw-bold fs-3 pt-3 text-wrap">PLease Remove</h5>
                                        <div class="imgBx">
                                            <i class="fas fa-microphone"></i>
                                        </div>
                                        <audio class="rounded-pill" controls controlsList="nodownload">
                                            <source src="./static/audio/Audio_8.mp3" type="audio/mp3">
                                        </audio>
                                    </div>
                                    -->
                                </div>
                                <div class="col-sm-4">
                                    <div class="card player text-white svg-1 rounded-pill m-1 text-uppercase">
                                        <h5 class="card-title fw-bold fs-3 pt-3 text-wrap">softsell</h5>
                                        <div class="imgBx">
                                            <i class="fas fa-microphone fs-4"></i>
                                        </div>
                                        <audio class="rounded-pill" controls controlsList="nodownload">
                                            <source src="./static/audio/Audio_9.mp3" type="audio/mp3">
                                        </audio>
                                    </div>
                                </div>
                            </div>
                           </div>
    
                    </div>

{% endblock %}